/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_STORE
/redis_backup
/mysql-data
horizon.log
public/images/admin_products/*
public/images/admin_variant_images/*
public/js/app.js
app/Http/Controllers/Api/ApiUserController.php
